<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %> <!-- they are in views/layouts -->
    <%= render 'layouts/shim' %> <!-- for old IE -->
  </head>

  <body>
    <%= render 'layouts/header' %> <!-- header tag -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %> <!-- footer tag -->
    </div>
  </body>
</html>
